<div class="container">
<h1>New Form</h1>

<% if @article.errors.any? %>
  <p>Your data has not been saved - </p>
  <ul>
    <% @article.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with scope: :article, url: articles_path, local: true do |form| %>
    <p>
      <%= form.label :link %><br>
      <%= form.text_field :link %>
    </p>
   
    <p>
      <%= form.label :text %><br>
      <%= form.text_field :text %>
    </p>
   
    <p>
      <%= form.submit %>
    </p>
  <% end %>
</div>
